:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-darkcyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --Very-lightgray: hsl(0, 0%, 95%); /*background, titulos, buttons*/

  --font-size: 15px;
  --title-font-family: "Big Shoulders Display", sans-serif;
  --font-family: "Lexend Deca", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  background-color: var(--Very-lightgray);
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "sedans"
    "suvs"
    "luxury";
  padding: 0px;
  width: 90%;
  margin: 60px auto;
  border-radius: 10px;
  overflow: hidden;
}

.tipos__carros {
  display: grid;
  padding: 50px;
  align-items: center;
}

.sedans {
  background-color: var(--Bright-orange);
  grid-area: sedans;
}

.suvs {
  background-color: var(--Dark-cyan);
  grid-area: suvs;
}

.luxury {
  background-color: var(--Very-darkcyan);
  grid-area: luxury;
}

.titulo__principal {
  color: var(--Very-lightgray);
  font-family: var(--title-font-family);
  font-size: 3rem;
  text-transform: uppercase;
  margin: 25px 0;
}

p {
  color: var(--Transparent-white);
  line-height: 1.8rem;
}

.botao {
  text-decoration: none;
  background-color: var(--Very-lightgray);
  border-radius: 30px;
  margin-top: 30px;
  padding: 15px 0;
  text-align: center;
  width: 150px;
  border: 2px solid var(--Very-lightgray);
}

.botao:active {
  background: transparent;
  color: var(--Very-lightgray);
  border: 2px solid var(--Very-lightgray);
}

.botao__sedans {
  color: var(--Bright-orange);
}

.botao__suvs {
  color: var(--Dark-cyan);
}

.botao__luxury {
  color: var(--Very-darkcyan);
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-areas: "sedans suvs luxury";
    width: 930px;
  }

  .tipos__carros {
    height: 600px;
  }

  .titulo__principal {
    margin: 0;
  }

  p {
    margin: 0 0 50px;
  }
}
