.sign-up {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    text-align: center;
    background: rgb(43 179 177);
    margin-top: 0px;
}

.sign-up h3 {
    color: whitesmoke;
}

.preco {
    color: whitesmoke;
    text-align: left;
    margin: 0px 20px;
}

.sign-up p {
    color: rgb(55, 116, 112);
}
#descricao {
    color: rgb(55, 116, 112);
}

#submit {
    background: yellowgreen;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 50px;
    margin: 40px 0 0px 0;
    cursor: pointer;
    
}

.sign-up p {
    display: inline;
}


