.header {
    grid-column: 2 / 4;
    grid-row: 2 / 2;
    background-color: #fff;
    margin: 0px;
}

.header h1 {
    color: turquoise;
    text-align: justify;
    margin-left: 30px;
}

.header h2 {
    color: green;
    text-align: justify;
    margin-left: 30px;
}

.header p {
    color: rgb(165, 161, 161);
    margin-left: 20px;
    
}