@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@media only screen and (max-width: 700px){

    body{
        background-color: #e6eff6;
        font-family: 'Roboto', sans-serif;
        display: grid;  
        border-radius: 10px; 
        padding: 0;
        margin: 20px 200px 0px;
    }   

    .container { 
        
        display: grid;
        grid-template-areas: 
        'header'
        'sign-up'
        'about';
        align-items: center;
        width: 700px;
        padding: 0px;
        margin: auto;
        vertical-align: center;
        border-radius: 10px;
        overflow: hidden; 
    }
    
    .header { 
        grid-area: header;
        background-color: #fff;
        height: 300px;
        width: 350px;
        
    }

    .header h1 { 
        color: #6dcdd4;
    }
    
    .header h2 { 
        color: #dae793;
    }
    
    .header p { 
        color: #d5dae0;
    }
    
    .header h1, h2, p {
        margin: 20px;
    }
    
    .sign-up { 
        grid-area: sign-up;
        background-color: #58b4b2;
        padding: 0px;
        height: 250px;
        width: 350px;
        margin: 0px;
    }
    
    .sign-up h4, h2 { 
        color: #e9f6f7;
        margin: 30px;
    }
    
    .about {
        grid-area: about;
        background-color: #5ebfbe;
        padding: 0;
        height: 250px;
        width: 350px;
        
    }
    
    .about li {
        list-style: none;
        color: #e9f6f7;
    }
    
    .about h4 {
        color: #e9f6f7;
        margin: 30px;
    }
    
    #submit { 
        background: #bfdf32;
        border-radius: 10px;
        border: none;
        width: 250px;
        height: 50px;
        margin: 0px 40px 20px;
        cursor: pointer;
    }
    
    #submit p {
        color: #fff;
    }
    
}