@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --p-cyan: hsl(179, 62%, 43%);
  --p-dark-cyan: hsl(179, 62%, 40%);
  --p-b-yellow: hsl(71, 73%, 54%);
  --n-light-gray: hsl(204, 43%, 93%);
  --n-grayish-blue: hsl(218, 22%, 67%);
  --header-bg: white;
}

body {
  background-color: var(--n-light-gray);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: grid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sign-up about";
  width: 700px;
  padding: 0px;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  grid-area: header;
  background-color: var(--header-bg);
  padding: 40px;
}

.header h1 {
  color: var(--p-cyan);
  font-size: 1.5rem;
  margin-top: 0;
}

.header h2 {
  color: var(--p-b-yellow);
  font-size: 1.1rem;
}

.header p {
  color: var(--n-grayish-blue);
  margin: 0 0 5px;
}

.sign-up {
  grid-area: sign-up;
  background-color: var(--p-dark-cyan);
  padding: 40px;
  margin: 0px;
}

.sign-up h3 {
  color: var(--n-light-gray);
  margin: 0 0 20px;
  font-size: 1.1rem;
}

.sign-up p {
  color: var(--n-light-gray);
  margin: 0 0 10px;
  font-size: 1rem;
}

.sign-up .per-month {
  color: var(--n-light-gray);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.sign-up span {
  color: var(--n-light-gray);
  margin: 0 0 0 5px;
  font-size: 1rem;
  font-weight: 400;
  vertical-align: middle;
  opacity: 0.5;
}

.sign-up a {
  width: 100%;
  display: block;
  margin-top: 25px;
  background-color: var(--p-b-yellow);
  color: var(--n-light-gray);
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  border-radius: 3px;
  transition: opacity 0.3s linear;
}

.sign-up a:hover {
  opacity: 0.8;
}

.about {
  grid-area: about;
  background-color: var(--p-cyan);
  padding: 40px;
}

.about h3 {
  color: var(--n-light-gray);
  margin: 0 0 20px;
}

.about ul {
  margin: 0;
  padding: 0;
}

.about li {
  list-style: none;
  color: var(--n-light-gray);
  margin: 0 0 5px;
}

@media only screen and (max-width: 700px) {
  body {
    display: grid;
    font-size: 16px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    }

  .container {
    display: grid;
    grid-template-areas:
      "header"
      "sign-up"
      "about";
    width: 700px;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: center;
    border-radius: 10px;
  }

  .header {
    grid-area: header;
    padding: 0;
    margin: 0;
    height: 250px; 
  }

  .header h1{
    margin: 5px 0 0 0 ;
  }

  .header h2 {
    margin: 20px;
    padding: 0px;
  }

  .header p {
    margin: 0 20px 0 20px;
    padding: 0px;
  }

  .sign-up { 
    grid-area: sign-up;
  }

  .sign-up h3 {
    margin: 20px ;
  }

  .sign-up p {
    margin: 0 0 10px 20px;
  }

  .sign-up a{
    width: 250px;
    height: 20px;
    padding: 10px;
    margin: 0 0 0 50px;
    
  }


}
