:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-darkcyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --Very-lightgray: hsl(0, 0%, 95%); /*background, titulos, buttons*/

  --font-size: 20px;
  --font-family: "Lexend Deca", "Big Shoulders Display", sans-serif;
}

/*Body*/

.body {
  font-size: var(--font-size);
  background-color: var(--Very-lightgray);
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

/*Container*/
.container {
  display: grid;
  grid-template-areas:
    "sedans"
    "suvs"
    "luxury";
  padding: 0px;
  width: 90%;
  margin: 60px auto;
  border-radius: 10px;
  overflow: hidden;
}

/*Divisões*/

.div {
  display: none;
}

.tipos__carros {
  display: grid;
  padding: 50px;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.sedans {
  background-color: var(--Bright-orange);
  grid-area: sedans;
}
.suvs {
  background-color: var(--Dark-cyan);
  grid-area: suvs;
}
.luxury {
  background-color: var(--Very-darkcyan);
  grid-area: luxury;
}

/*Titulo*/

.titulo__principal {
  color: var(--Very-lightgray);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 5px 0;
  padding: 5px 0;
}

/*Parágrafo*/
p {
  color: var(--Transparent-white);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: auto;
  padding: 0 20px 0 0;
}

/*Botões*/

a {
  width: 200px;
}
.botao {
  text-decoration: none;
  background-color: var(--Very-lightgray);
  border-radius: 30px;
  display: block;
  margin-top: 30px;
  padding: 15px 50px;
  text-align: center;
}

.botao__sedans {
  color: var(--Bright-orange);
}
.botao__suvs {
  color: var(--Dark-cyan);
}
.botao__luxury {
  color: var(--Very-darkcyan);
}

@media only screen and (min-width: 375px) {
  div {
    display: block;
  }
  a {
    width: 150px;
  }
  .botao {
    width: 50px;
    height: 10px;
    text-align: center;
    
  }
}

@media only screen and (min-width: 425px) {
  div {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  div {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container {
    display: flex;
    justify-content: center;
     
   }
  .tipos__carros {
    width: 30%;
    height: 500px;
  }

  .titulo__principal {
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
  .botao {
    padding: 0px;
    text-align: center;
    height: 50px;
    margin: 0;
    width: 200px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center;
    
   }
  
  .tipos__carros {
    width: 30%;
    height: 500px;
  }

  .titulo__principal {
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
  .botao {
    padding: 0px;
    text-align: center;
    height: 50px;
    margin: 0;
    width: 200px;

  }
}
@media only screen and (min-width: 1920px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
    
  }
  .tipos__carros {
    width: 30%;
    height: 500px;
  }

  .titulo__principal {
    margin: 0px;
    padding: 0px;
  }
  p {
    margin: 0px;
    padding: 0px;
  }
  .botao {
    padding: 0px;
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 0;
  }
}
