:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-grayish-blue: hsl(210, 10%, 33%);
  --Grayish-blue: hsl(201, 11%, 66%);

  --font-size: 18px;

  --font-family: "Bai Jamjuree", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  background: no-repeat url(images/bg-header-mobile.png);
  background-size: contain;
  margin: 0 auto;
  width: 100%;
}

.container {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
.clipboard__logo {
  display: block;
  margin: 50px auto;
}

.clipboard {
  text-align: center;
}

h1,h2,h3,h4 {
  color: var(--Dark-grayish-blue);
  margin-bottom: 20px;
}
p {
  color: var(--Grayish-blue);
  margin-bottom: 30px;
}
.clipboard__buttom {
  display: flex;
  flex-direction: column;
  background-color: var(--Strong-Cyan);
  color: white;
  border-radius: 30px;
  border-bottom: outset 3px var(--Strong-Cyan);
  padding: 10px;
  width: 250px;
  text-decoration: none;
  margin: 20px auto;
}

.clipboard__buttom-blue {
  background-color: var(--Light-Blue);
  border-bottom: outset var(--Dark-grayish-blue);
}
.clipboard__images--devices {
  margin: 0 auto;
  max-width: 300px;
}
.clipboard__images {
  margin: 0px auto;
  width: 40px;
}
.clipboard__devices {
  margin-top: 150px;
}
.cliboard__blacklist {
  margin-top: 80px;
}

.clipboard__companies {
  margin-top: 130px;
}

.comapanies__logo {
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 50px auto;
  text-align: center;
}

footer {
  margin: 150px auto;
}

.footer__logo {
  display: block;
  margin: 0 auto;
}
