.about { 
text-align: center;
background: rgb(74 190 189);
margin-top: 0px;
}

.about li {
    list-style: none;
}

.about h1 { 
    color: whitesmoke;
    
}

.about li {
    color: whitesmoke;
    text-align: left;
    margin: 0px 40px 10px;
}